<style>
    @import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

    /* If you can't see it just hit space in here*/
    body {
        font-family:'Wendy One', sans-serif;
    }

    /* body {
        background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #374566), color-stop(100%, #010203));
        background-image: -webkit-radial-gradient(#374566, #010203);
        background-image: -moz-radial-gradient(#374566, #010203);
        background-image: -o-radial-gradient(#374566, #010203);
        background-image: radial-gradient(#374566, #010203);
    } */
    span {
        text-transform: uppercase;
    }
    /* .container {
        width: 800px;
        height: 420px;
        padding: 10px;
        margin: 0 auto;
        position: relative;
    } */
    .balloon {
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
        position: relative;
    }
    .balloon > div {
        width: 52px;
        height: 70px;
        background: rgba(182, 15, 97, 0.9);
        border-radius: 0;
        border-radius: 80% 80% 80% 80%;
        margin: 0 auto;
        /* position: absolute; */
        padding: 10px;
        box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
        -webkit-transform-origin: bottom center;
    }
    .balloon > div:nth-child(1) {
        background: rgba(182, 15, 97, 0.9);
        left: 0;
        box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
        -webkit-animation: balloon1 6s ease-in-out infinite;
        -moz-animation: balloon1 6s ease-in-out infinite;
        -o-animation: balloon1 6s ease-in-out infinite;
        animation: balloon1 6s ease-in-out infinite;
    }
    .balloon > div:nth-child(1):before {
        color: rgba(182, 15, 97, 0.9);
    }
    .balloon > div:nth-child(2) {
        background: rgba(242, 112, 45, 0.9);
        left: 120px;
        box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
        -webkit-animation: balloon2 6s ease-in-out infinite;
        -moz-animation: balloon2 6s ease-in-out infinite;
        -o-animation: balloon2 6s ease-in-out infinite;
        animation: balloon2 6s ease-in-out infinite;
    }
    .balloon > div:nth-child(2):before {
        color: rgba(242, 112, 45, 0.9);
    }
    .balloon > div:nth-child(3) {
        background: rgba(45, 181, 167, 0.9);
        left: 240px;
        box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
        -webkit-animation: balloon4 6s ease-in-out infinite;
        -moz-animation: balloon4 6s ease-in-out infinite;
        -o-animation: balloon4 6s ease-in-out infinite;
        animation: balloon4 6s ease-in-out infinite;
    }
    .balloon > div:nth-child(3):before {
        color: rgba(45, 181, 167, 0.9);
    }
    .balloon > div:nth-child(4) {
        background: rgba(190, 61, 244, 0.9);
        left: 360px;
        box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
        -webkit-animation: balloon1 5s ease-in-out infinite;
        -moz-animation: balloon1 5s ease-in-out infinite;
        -o-animation: balloon1 5s ease-in-out infinite;
        animation: balloon1 5s ease-in-out infinite;
    }
    .balloon > div:nth-child(4):before {
        color: rgba(190, 61, 244, 0.9);
    }
    .balloon > div:nth-child(5) {
        background: rgba(180, 224, 67, 0.9);
        left: 480px;
        box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
        -webkit-animation: balloon3 5s ease-in-out infinite;
        -moz-animation: balloon3 5s ease-in-out infinite;
        -o-animation: balloon3 5s ease-in-out infinite;
        animation: balloon3 5s ease-in-out infinite;
    }
    .balloon > div:nth-child(5):before {
        color: rgba(180, 224, 67, 0.9);
    }
    .balloon > div:nth-child(6) {
        background: rgba(242, 194, 58, 0.9);
        left: 600px;
        box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
        -webkit-animation: balloon2 3s ease-in-out infinite;
        -moz-animation: balloon2 3s ease-in-out infinite;
        -o-animation: balloon2 3s ease-in-out infinite;
        animation: balloon2 3s ease-in-out infinite;
    }
    .balloon > div:nth-child(6):before {
        color: rgba(242, 194, 58, 0.9);
    }
    .balloon > div:nth-child(7) {
        background: rgba(190, 61, 244, 0.9);
        left: 360px;
        box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
        -webkit-animation: balloon1 5s ease-in-out infinite;
        -moz-animation: balloon1 5s ease-in-out infinite;
        -o-animation: balloon1 5s ease-in-out infinite;
        animation: balloon1 5s ease-in-out infinite;
    }
    .balloon > div:nth-child(7):before {
        color: rgba(190, 61, 244, 0.9);
    }
    .balloon > div:before {
        color: rgba(182, 15, 97, 0.9);
        position: absolute;
        bottom: -11px;
        left: 52px;
        /* content:"▲"; */
        content:"";
        font-size: 1em;
    }
    .balloon > div > span {
        /* font-size: 4.8em; */
        font-size: 2.4em;
        color: white;
        /* position: relative; */
        position: sticky;
        top: 30px;
        left: 50%;
        /* margin-left: -27px; */
    }
    /*BALLOON 1 4*/
    @-webkit-keyframes balloon1 {
        0%, 100% {
            -webkit-transform: translateY(0) rotate(-6deg);
        }
        50% {
            -webkit-transform: translateY(-20px) rotate(8deg);
        }
    }
    @-moz-keyframes balloon1 {
        0%, 100% {
            -moz-transform: translateY(0) rotate(-6deg);
        }
        50% {
            -moz-transform: translateY(-20px) rotate(8deg);
        }
    }
    @-o-keyframes balloon1 {
        0%, 100% {
            -o-transform: translateY(0) rotate(-6deg);
        }
        50% {
            -o-transform: translateY(-20px) rotate(8deg);
        }
    }
    @keyframes balloon1 {
        0%, 100% {
            transform: translateY(0) rotate(-6deg);
        }
        50% {
            transform: translateY(-20px) rotate(8deg);
        }
    }
    /* BAllOON 2 5*/
    @-webkit-keyframes balloon2 {
        0%, 100% {
            -webkit-transform: translateY(0) rotate(6eg);
        }
        50% {
            -webkit-transform: translateY(-30px) rotate(-8deg);
        }
    }
    @-moz-keyframes balloon2 {
        0%, 100% {
            -moz-transform: translateY(0) rotate(6deg);
        }
        50% {
            -moz-transform: translateY(-30px) rotate(-8deg);
        }
    }
    @-o-keyframes balloon2 {
        0%, 100% {
            -o-transform: translateY(0) rotate(6deg);
        }
        50% {
            -o-transform: translateY(-30px) rotate(-8deg);
        }
    }
    @keyframes balloon2 {
        0%, 100% {
            transform: translateY(0) rotate(6deg);
        }
        50% {
            transform: translateY(-30px) rotate(-8deg);
        }
    }
    /* BAllOON 0*/
    @-webkit-keyframes balloon3 {
        0%, 100% {
            -webkit-transform: translate(0, -10px) rotate(6eg);
        }
        50% {
            -webkit-transform: translate(-20px, 30px) rotate(-8deg);
        }
    }
    @-moz-keyframes balloon3 {
        0%, 100% {
            -moz-transform: translate(0, -10px) rotate(6eg);
        }
        50% {
            -moz-transform: translate(-20px, 30px) rotate(-8deg);
        }
    }
    @-o-keyframes balloon3 {
        0%, 100% {
            -o-transform: translate(0, -10px) rotate(6eg);
        }
        50% {
            -o-transform: translate(-20px, 30px) rotate(-8deg);
        }
    }
    @keyframes balloon3 {
        0%, 100% {
            transform: translate(0, -10px) rotate(6eg);
        }
        50% {
            transform: translate(-20px, 30px) rotate(-8deg);
        }
    }
    /* BAllOON 3*/
    @-webkit-keyframes balloon4 {
        0%, 100% {
            -webkit-transform: translate(10px, -10px) rotate(-8eg);
        }
        50% {
            -webkit-transform: translate(-15px, 20px) rotate(10deg);
        }
    }
    @-moz-keyframes balloon4 {
        0%, 100% {
            -moz-transform: translate(10px, -10px) rotate(-8eg);
        }
        50% {
            -moz-transform: translate(-15px, 10px) rotate(10deg);
        }
    }
    @-o-keyframes balloon4 {
        0%, 100% {
            -o-transform: translate(10px, -10px) rotate(-8eg);
        }
        50% {
            -o-transform: translate(-15px, 10px) rotate(10deg);
        }
    }
    @keyframes balloon4 {
        0%, 100% {
            transform: translate(10px, -10px) rotate(-8eg);
        }
        50% {
            transform: translate(-15px, 10px) rotate(10deg);
        }
    }
    h1 {
        position: relative;
        /* top: 50px; */
        text-align: center;
        color: white;
        font-size: 3.5em;
    }

    .heading-default {
        position: relative;
        /* top: 50px; */
        text-align: center;
        color: white;
        font-size: 2.5em;
        padding: 2px !important;
        background-color: black !important;
        margin-bottom: 15px !important;
    }

    .text-default {
      color: white;
    }

    .break-default {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .observablehq--inspect {
      display: none;
    }

    .observablehq {
      color: #999999;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -100;
    }

    body {
      overflow: hidden;
    }

    iframe {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #container {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      max-width: 100%;
    }


    /* article {
      background: white;
      width: 40%;
      padding: 20px;
      position: relative;
    }
    article::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 20px;
      width: 100%;
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;
      background-size: 150%;
    } */
    article {
      background: white;
      width: 40%;
      padding: 20px;
      position: relative;
    }
    article::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 20px;
      width: 100%;
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;
      background-size: 150%;
    }

    .bday-name {
      text-align: center;
      color: crimson;
      font-size: 50px;
      font-family: 'Homemade+Apple', cursive;
    }

    .form-control {
      border-color: black;
    }

    .count-down {
      display: grid;
      text-align: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-shadow: 0px 2px 10px black;
    }
    .number {
      font-size: 60px;
    }

    .header-default {
      font-size: 30px;
      text-align: center;
      text-shadow: 0px 2px 10px black;
      background-color: black;
      border-radius: 15px;
      color: white;
      margin-bottom: 15px;
    }

    .card-col-default {
      padding: 10px;
    }

    .card-default {
      border-color: black;
      /* margin-bottom: 15px; */
    }

    .card-body-default {
      padding: 10px;
    }

    .card-image-default {
      height: 300px;
    }
    .card-content-default {
      max-height: 150px;
      overflow-y: auto;
    }

</style>
